html
    head
        include lib
        link(rel='stylesheet', type='text/css', href='css/alluxio.css')
        script(type='text/javascript', src='js/alluxio.js')
    body
        .page-content
            include header
            .wrapper
                h3.center
                    i.fa.fa-spin.fa-spinner
            .container-fluid.main-content.hidden
                .row
                    .col-lg-12
                        ul.nav.nav-tabs
                            li#alluxio-li
                                a(href='#alluxio-panels', data-toggle='tab', aria-expanded='true') 集群状态
                            li#browser-li
                                a(href='#browser-panels', data-toggle='tab', aria-expanded='true') 内存文件系统
                        .tab-content
                            #alluxio-panels.tab-pane.fade
                            #browser-panels.tab-pane.fade
            include footer
