html
    head
        include lib
        link(rel='stylesheet', type='text/css', href='css/dashboard.css')
        script(type='text/javascript', src='js/dashboard.js')
    body
        .page-content
            include header
            .wrapper
                h3.center
                    i.fa.fa-spin.fa-spinner
            .container-fluid.main-content.hidden
                #banner.page-header
                    .row
                        .col-lg-12
                            h2 分布式异构大数据分析服务系统
                    .row
                        .col-lg-12
                            a.btn.btn-link(href='spark') 异构资源管理
                            a.btn.btn-link(href='alluxio') 分布式内存管理
                            a.btn.btn-link(href='model?f=spark') 大数据分析引擎
                            a.btn.btn-link(href='model?f=gpu') 异构编译框架
            include footer
