.footer.container-fluid
    .row
        .col-lg-12
            ul.list-unstyled
                li
                    i.fa.fa-copyright
                    | &nbsp;2016 - 2017&nbsp;
                    a(href='http://fytgs.ust.hk/', target='_blank') 广州市香港科大霍英东研究院
                    | &nbsp;版权所有
                li.pull-right
                    a(href='http://www.github.com/valency/nut/', target='_blank')
                        i.fa.fa-github
                li.pull-right
                    a(href='mailto:yeding@ust.hk', target='_blank')
                        i.fa.fa-envelope
                li.pull-right
                    a(href='http://www.cse.ust.hk/~valency', target='_blank')
                        i.fa.fa-rss
                li.pull-right
                    a(href='http://www.ust.hk', target='_blank') 香港科技大学
                li.pull-right
                    a(href='http://fytgs.ust.hk/', target='_blank') 广州市香港科大霍英东研究院






