body, h1, h2, h3, h4, h5, h6 {
    font-family: "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #F1F1F1;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: none;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
}

img.logo-default {
    height: 24px;
    margin: 13px 0 !important;
}

.hand {
    cursor: hand;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.dashboard-stat .details .desc {
    margin-top: 5px;
}

#fade-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10000;
}

.page-loading {
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

pre.exception {
    color: red;
    max-height: 300px;
}

hr.col-splitter {
    margin-top: 5px;
}

.error-label-container {
    margin: 0;
}

.error-label-container .col-md-4, .error-label-container .col-md-8 {
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-label-container .col-md-4 {
    text-align: right;
}

.error-label-container .col-md-8 {
    text-align: left;
}

.error-label-container .col-md-4:last-child, .error-label-container .col-md-8:last-child {
    margin-bottom: 0;
}

.dashboard-stat .details .number {
    font-size: 1.5em;
}

.dashboard-stat .details .desc {
    font-size: 1em;
}

