#model-exe-argument {
    margin-bottom: -15px;
}

#model-exe-argument > p {
    margin-top: 10px;
}

#model-last-update {
    margin-top: 0;
}

.table-wrapper-limited {
    max-height: 300px;
    overflow: auto;
}